* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100vh;
}
table {
  border-collapse: collapse;
  width: 70%;
  margin: 20px 0;
}
table td,
th {
  padding: 10px;
}

button {
  padding: 10px;
  border: none;
  background-color: green;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #2caa32;
}
.std-details table {
  width: 100%;
  overflow-x: auto;
}

/* Media */

@media (max-width: 768px) {
  table,
  .std-details,
  button {
    width: 100%;
  }

  td,
  th {
    padding: 10px;
  }
}
